<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.4.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:takara/omikuji.git</url>
        <credentialsId>taka</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <au.com.rayh.XCodeBuilder plugin="xcode-plugin@2.0.9">
      <cleanBeforeBuild>false</cleanBeforeBuild>
      <cleanTestReports>false</cleanTestReports>
      <configuration>Release</configuration>
      <target>MyOmikujiApp</target>
      <sdk></sdk>
      <symRoot></symRoot>
      <buildDir>build</buildDir>
      <xcodeProjectPath></xcodeProjectPath>
      <xcodeProjectFile></xcodeProjectFile>
      <xcodebuildArguments></xcodebuildArguments>
      <xcodeSchema></xcodeSchema>
      <xcodeWorkspaceFile></xcodeWorkspaceFile>
      <cfBundleVersionValue></cfBundleVersionValue>
      <cfBundleShortVersionStringValue></cfBundleShortVersionStringValue>
      <buildIpa>false</buildIpa>
      <ipaExportMethod>ad-hoc</ipaExportMethod>
      <generateArchive>false</generateArchive>
      <noConsoleLog>false</noConsoleLog>
      <logfileOutputDirectory></logfileOutputDirectory>
      <unlockKeychain>false</unlockKeychain>
      <keychainName></keychainName>
      <keychainPath></keychainPath>
      <keychainPwd></keychainPwd>
      <developmentTeamName></developmentTeamName>
      <developmentTeamID>74Z5Q239D9</developmentTeamID>
      <allowFailingBuildResults>false</allowFailingBuildResults>
      <ipaName></ipaName>
      <ipaOutputDirectory></ipaOutputDirectory>
      <provideApplicationVersion>false</provideApplicationVersion>
      <changeBundleID>false</changeBundleID>
      <bundleID></bundleID>
      <bundleIDInfoPlistPath></bundleIDInfoPlistPath>
      <interpretTargetAsRegEx>false</interpretTargetAsRegEx>
      <signingMethod>readFromProject</signingMethod>
      <provisioningProfiles>
        <au.com.rayh.ProvisioningProfile>
          <provisioningProfileAppId></provisioningProfileAppId>
          <provisioningProfileUUID></provisioningProfileUUID>
        </au.com.rayh.ProvisioningProfile>
      </provisioningProfiles>
      <uploadBitcode>true</uploadBitcode>
      <uploadSymbols>true</uploadSymbols>
      <compileBitcode>true</compileBitcode>
      <thinning></thinning>
      <appURL></appURL>
      <displayImageURL></displayImageURL>
      <fullSizeImageURL></fullSizeImageURL>
      <assetPackManifestURL></assetPackManifestURL>
      <skipBuildStep>false</skipBuildStep>
      <stripSwiftSymbols>true</stripSwiftSymbols>
      <copyProvisioningProfile>true</copyProvisioningProfile>
      <useLegacyBuildSystem>false</useLegacyBuildSystem>
    </au.com.rayh.XCodeBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.38">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>